/* Variables */
:root {
  --primary: #00438a;
  --secondary: #ff8800;
  --dark: #b35f00;
  --white: #ffffff;
  --black: #484848;
  --shadow: rgba(0, 0, 0, 0.15);
  --font: "Nunito", sans-serif;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

html {
  font-size: 1.8vmin;
}

html, body, main {
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: var(--light);
}

::selection {
  background: transparent;
  color: unset;
}
